body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}


/* .video-gallery-container {
  text-align: center;
  margin: 40px auto;
  width: 80%;
}

.gallery-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.video-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.video-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.video-gallery .grid-header {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.video-gallery .grid-item {
  background-color: #fff;
  overflow: hidden;
}

.video-gallery .grid-item img {
  width: 100%;
  height: auto;
  display: block;
  border: none;
  border-radius: 0;
}

.caption {
  text-align: center;
  margin-top: 5px;
} */


.gallery-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.video-gallery-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.video-gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.video-group {
  display: flex;
  justify-content: space-between;
}
.grid-header {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  width: 33.33%;
}
.sticky-header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}
.grid-item {
  text-align: center;
  width: 33.33%;
}
.grid-item img {
  width: 100%;
  /* width: 224px; */
  height: auto;
  display: block;
}
.caption {
  text-align: center;
  margin-top: 5px;
  color: #333;
}
.highlight {
  color: #2c5fa7;
  font-weight: bold;
}
.dcf-value {
  text-align: center;
  font-style: italic;
  color: #2c5fa7;
  font-weight: bold;
  margin-top: 5px;
}
